
&nbsp;

Winter 2018
Monday 10:15-11:30, CC-425 Loyola
Monday 1:30-3:30, CC-203 Loyola

<strong>Office Hours for Mike.</strong> By appointment anytime really or via Slack;  Otherwise Mondays between the lecture and lab; GE 120.07
<strong>Office Hours for Raha.</strong> TBA; TBA

<hr />
<p class="c2 c14" style="text-align: justify;"><span class="c6">This course aims to provide students from biology and the life sciences in general (e.g. biology, cell biology, biochemistry, immunology, physiology) with instruction in the basics techniques of bioinformatics, computational biology and data science.</span></p>
<p class="c2 c14" style="text-align: justify;"><strong>Bioinformatics</strong> lies at the intersection of computer science and biology. The field is concerned with the development and use of software, databases and tools to make biological data (especially  "-omics" data available). In this course, students will learn how to navigate bioinformatics tools including large centralized <strong>repositories</strong> such as the <strong>NCBI</strong>.</p>
<p class="c2 c14" style="text-align: justify;"><strong>Computational biology</strong> also lies at the intersection of computer science and biology but this field is more concerned with the development of computational and statistical approaches to test biological hypotheses. Often this is through the use of <strong>machine learning</strong> techniques such as deep neural networks. In this course, students will learn the fundamental concepts such as supervised vs unsupervised learning, model fitting, generalization and over-learning, and cross-validation. They will build a simple artificially intelligent system in the course project.</p>
<p class="c2 c14" style="text-align: justify;"><strong>Biological data science </strong> lies at the intersection of biology, computer science and statistics. The field is concerned with developing and using methods to explore "big" data sets (large datasets are common in modern biology). In this course, students will learn data manipulation, descriptive statistics and visualization which will empower them to analyze complicated datasets.</p>
<p class="c2 c14" style="text-align: justify;"><span class="c6"><span style="color: #993300;"><strong>The course assumes no previous experience in computer science, statistics or genomics,</strong></span> although a cursory knowledge certainly would assist here.</span></p>
<p class="c2 c14" style="text-align: justify;"><span class="c6">Students will leave this course with the ability to program in R, a computer language with a long history of application in Bioinformatics. </span></p>
<p class="c2 c14" style="text-align: justify;"><span class="c6">Students will learn specific techniques and tools in the analysis of DNA and amino acid sequence information (alignment, phylogeny), RNA expression (prediction of clinical end points in breast cancer), and biological pathway analysis. Within these applications, students will be introduced to some genomic technologies such as Next Generation Sequencing (NGS) with emphasis on DNA-and RNA-sequencing.</span></p>
<p class="c2 c14" style="text-align: justify;"><span class="c6">Additional concepts from computer science include: basics of programming, software versioning systems (eg GIT), cloud computing, recursion, and introductory aspects of algorithm design.</span></p>
<strong>Prerequisites.</strong> BIOL 367 or equivalent; COMP 228 (System Hardware) or permission of the Diploma Program Director.

<strong>Course Textbook.</strong> There is no course textbook. Instead we will make use of a wide variety of web-related information. With each module, there will be links posted under the <a href="http://www.bci.mcgill.ca/BIOL510/index.php/tools/">Tools</a> menu at this website.

<strong>Evaluation.</strong>

Assignments (4 equally weighted) 40%
Project 15%
Midterm 20%
Final 25%

&nbsp;