<h4><span style="color: #0000ff;"><strong><span class="c6 c11">Module 1 – The Basics.</span></strong></span></h4>

<hr />
<p class="c2"><strong><span class="c5">Lecture 1:</span><span class="c6"> Information technology (IT) skills.</span></strong></p>
<p class="c2">Goal: Better incorporate modern IT into our day to day operations.</p>
<p class="c2">Topics include: Cloud sharing (<a href="http://drive.google.com">Google Drive</a>), Web management (<a href="http://www.wordpress.com">Wordpress</a>), Project Planning (<a href="http://trello.com">Trello</a>), Communication (<a href="http://slack.com">Slack</a>), Code sharing (<a href="http://github.com">GitHub</a>, <a href="http://bitbucket.org">BitBucket</a>), Integration between tools and sites (<a href="http://IFTTT.com">IFTTT</a>), technical questions and advice (<a href="http://stackoverflow.com">Stackoverflow</a>).</p>


<hr />
<p class="c2"><strong>Lecture 2: Practical guide to computers and information science</strong></p>
<p class="c2">Goal: Understand components of modern computing with emphasis on concepts central to bioinformatics.</p>
<p class="c2">Topics include: Cluster and cloud computing (AWS), Unix.</p>

<ul class="c10 lst-kix_i1rk8xus9uvn-0 start">
 	<li class="c2 c3"><span class="c15"><span class="c15"><a class="c8" href="http://www.google.com/url?q=http%3A%2F%2Fstackoverflow.com&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNFUoKKmZVS3Nibgy4xGsagbeUbT-Q">Stackoverflow</a></span></span></li>
 	<li class="c2 c3"><a href="https://en.wikipedia.org/wiki/Antikythera_mechanism">Antikythera Mechanism</a> (<a href="https://www.youtube.com/watch?v=UpLcnAIpVRA">youtube</a>) (<a href="https://en.wikipedia.org/wiki/Antikythera_mechanism#/media/File:AntikytheraMechanismSchematic-Freeth12.png">wiring diagram of gears</a>)</li>
 	<li class="c2 c3"><a href="https://en.wikipedia.org/wiki/Napier%27s_bones">Napier's bones</a> (<a href="http://www.mathematik.uni-marburg.de/~thormae/lectures/ti1/code/napierbones/napierbones.html">simulator</a>)</li>
 	<li class="c2 c3"><a href="https://www.youtube.com/watch?v=K6NgMNvK52A">Jacquard Loom</a></li>
 	<li class="c2 c3">Babbage's machine (Video series <a href="https://www.youtube.com/watch?v=PFMBU17eo_4">episode 1</a> through 4)</li>
 	<li class="c2 c3"><a href="http://www.computerhistory.org/timeline/">History of Computers</a></li>
 	<li class="c2 c3">History of Computer Science</li>
 	<li class="c2 c3"><a href="https://cs.uwaterloo.ca/~shallit/Courses/134/history.html">from J Shallit (Waterloo, CS 134)</a></li>
 	<li class="c2 c3"><a href="http://www.computersciencelab.com/ComputerHistory/History.htm">from J Kopplin</a></li>
 	<li class="c2 c3"><a href="http://press.princeton.edu/titles/10413.html">The Enigma, a biography of A Turing</a> (The Imitation Game, <a href="https://www.youtube.com/watch?v=S5CjKEFb-sM">movie</a>)</li>
 	<li class="c2 c3"><a class="c8" href="http://www.google.com/url?q=http%3A%2F%2Focw.mit.edu%2Fcourses%2Ffind-by-topic%2F&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNFWBdZquZWTG0b7COaF-pnoBAEqKQ">MIT OpenCourseWare</a><span class="c6"> </span></li>
</ul>

<hr />
<p class="c2"><strong>Lecture 3: The first steps towards programming.</strong></p>
<p class="c2">Goal: To be ready to start programming</p>
<p class="c2"><a href="http://www.bci.mcgill.ca/~hallett/M1.L2.html#/">Lecture Notes M1.L3 for installing R/RStudio</a></p>
<p class="c2">Topics include: installing the programming language R and associated interactive development environment (IDE) RStudio.</p>

<ul>
 	<li><a class="c8" href="http://www.google.com/url?q=http%3A%2F%2Fwww.r-bloggers.com%2Fan-r-meta-book%2F&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNF-bDHqkArwqzlS8ZZ-y-UNPjHR9g">R Metabook</a></li>
 	<li><a href="https://www.rstudio.com/">RStudio</a>: An Interactive Development Environment for R</li>
 	<li><a href="https://cran.r-project.org/manuals.html">An Introduction to R</a></li>
 	<li class="c2"><a href="https://www.r-project.org/">The R Programming Language</a></li>
 	<li class="c2 c3"><span class="c15"><a class="c8" href="http://www.google.com/url?q=http%3A%2F%2Fwww.burns-stat.com%2Fpages%2FTutor%2FR_inferno.pdf&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNH1AKXAtPynn11aZkzqI-tEr4sqAQ">R Inferno</a></span></li>
 	<li class="c2 c3"><span class="c0"><a class="c8" href="http://www.google.com/url?q=http%3A%2F%2Fadv-r.had.co.nz%2F&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNGrHi1V8h2tvIGL1hFJtNAsARwtmg">Advanced R</a></span><span class="c6"> (Good clean coverage of R)</span></li>
 	<li class="c2 c3"><span class="c15"><a class="c8" href="https://google.github.io/styleguide/Rguide.xml">Google's R Style Guide</a></span></li>
 	<li class="c2"><a title="Starting R and RStudio" href="http://www.bci.mcgill.ca/~hallett/M1.L3.Presentation/M1.L3.html" target="_blank">NOTES FOR STARTING R and RStudio</a></li>
 	<li class="c2 c3"><span class="c0"><a class="c8" href="http://www.google.com/url?q=http%3A%2F%2Fwww.r-project.org%2F&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNHefmoEDqPf_CD5rru9DPdfUq5TGw">R</a></span></li>
 	<li class="c2 c3"><span class="c0"><a class="c8" href="http://www.google.com/url?q=http%3A%2F%2Fwww.r-project.org%2F&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNHefmoEDqPf_CD5rru9DPdfUq5TGw">The basic R manual</a></span><span class="c6"> (also available in Epub or html under “Manuals” from homepage)</span></li>
 	<li class="c2 c3"><span class="c6">An </span><span class="c0"><a class="c8" href="http://www.google.com/url?q=http%3A%2F%2Ftryr.codeschool.com%2F&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNEXY6fEbLyCkK9AJGvmwUdXoR4jPQ">on-line course</a></span><span class="c6"> sponsored by O’Reilly Publishers Inc. for R basics.</span></li>
 	<li class="c2 c3"><span class="c6">A second </span><span class="c0"><a class="c8" href="https://www.google.com/url?q=https%3A%2F%2Fwww.datacamp.com%2Fcourses%2Fintroduction-to-r&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNGWjQy7MIrvljo_4Ppt8vmNmNN_Sg">on-line course</a></span><span class="c6"> for R basics from Datacamp.</span></li>
 	<li class="c2 c3"><span class="c6">Compilations of tutorials </span><span class="c0"><a class="c8" href="http://www.google.com/url?q=http%3A%2F%2Fww2.coastal.edu%2Fkingw%2Fstatistics%2FR-tutorials%2F&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNFcawkKrpUqURiCTUd1O-DTkIL1eQ">here</a></span><span class="c6"> and </span><span class="c0"><a class="c8" href="http://www.google.com/url?q=http%3A%2F%2Fwww.ats.ucla.edu%2Fstat%2Fr%2F&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNFQNlVdnVbH1PENdxTbiQINIOVjHw">here</a></span></li>
 	<li class="c2 c3"><span class="c6">the R </span><span class="c0"><a class="c8" href="http://www.google.com/url?q=http%3A%2F%2Fcran.r-project.org%2Fdoc%2Fcontrib%2FShort-refcard.pdf&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNHx8XavTyudqCJE_RMsqq6i01CWqw">cheat sheet</a></span></li>
</ul>
Related material:
<ul>
 	<li><span class="c0"><a class="c8" href="http://www.google.com/url?q=http%3A%2F%2Fbiopython.org%2Fwiki%2FMain_Page&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNE7-eakmLwg6AR8zGLK_EQa5nQsHg">The BioPython Project</a></span></li>
 	<li><a class="c8" href="http://www.google.com/url?q=http%3A%2F%2Fwww.biojava.org%2F&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNFhxS5xKkI1gtM6rPe7Z5Zj9rhfmA">BioJava</a></li>
</ul>

<hr />
<p class="c2"><strong>Lecture 4: <span class="c6">R basics.</span></strong></p>
<p class="c2"><span class="c6">Goal: Start using R.</span></p>
<p class="c2"><span class="c6">Topics include: data types, operators, c, sets, vectors, matrices, arrays, lists</span></p>


<hr />
<p class="c2"><strong>Lecture 5: Bioinformatic repositories.</strong></p>
<p class="c2"><span class="c1">Goal: To understand how to use large-scale centralized bioinformatic databases and tools.</span></p>
<p class="c2">Topics include:</p>

<ul class="c10 lst-kix_nu65rt8zo1ky-0 start">
 	<li class="c2 c3"><span class="c0"><a class="c8" href="http://www.google.com/url?q=http%3A%2F%2Fwww.ncbi.nlm.nih.gov%2Fpubmed%2F&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNHvPZSKGfvX5PJKMu4EkHs7ASN_Gw">PubMed</a></span><span class="c6"> (with a </span><span class="c0"><a class="c8" href="http://www.google.com/url?q=http%3A%2F%2Fwww.ebi.ac.uk%2Ftraining%2Fonline%2Fcourse%2Feurope-pubmed-central-quick-tour&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNH4qehSoa6GaAF0EsQavW9Y1V9v9Q">quick tour of European PubMed via an EBI video</a></span><span class="c6">)</span></li>
 	<li class="c2 c3"><span class="c0"><a class="c8" href="http://scholar.google.ca/">Google Scholar</a></span></li>
 	<li class="c2 c3"><span class="c0"><a class="c8" href="http://www.google.com/url?q=http%3A%2F%2Fwww.ncbi.nlm.nih.gov%2F&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNFEC2HbauiUNSsjr6hlWtEEMzERxQ">National Centre for Biotechnology Information (NCBI)</a></span><span class="c6"> </span></li>
 	<li class="c2 c3"><span class="c0"><a class="c8" href="http://www.google.com/url?q=http%3A%2F%2Fwww.ebi.ac.uk%2F&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNFChyc0oRriq8VA8TYYmKEDSjBbLA">European Bioinformatics Institute (EBI)</a></span><span class="c6"> with </span><span class="c0"><a class="c8" href="http://www.google.com/url?q=http%3A%2F%2Fwww.ebi.ac.uk%2Ftraining%2Fonline%2Fcourse%2Fgenomics-introduction-ebi-resources&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNEV3SAVUP09-80HojH8TGhP1O-fXg">a video touring its resources</a></span></li>
 	<li class="c2 c3"><span class="c0"><a class="c8" href="http://www.google.com/url?q=http%3A%2F%2Fwww.ebi.ac.uk%2Ftraining%2Fonline%2Fsubjects%2F11&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNGTMvfp3zaN-X8ARK1ir4XoF7uHIw">EBI Sponsored On-line Courses</a></span></li>
 	<li class="c2 c3"><a class="c8" href="http://www.google.com/url?q=http%3A%2F%2Fcancergenome.nih.gov%2F&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNFYeGgd86_IUgbioOsdYPN6TeJ3CA">The Cancer Genome Atlas (TCGA)</a></li>
 	<li class="c2 c3"><span class="c0"><a class="c8" href="https://www.google.com/url?q=https%3A%2F%2Ftcga-data.nci.nih.gov%2Ftcga%2F&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNHIzBjqZNaKkkjy_MDV1KUWgvqv7A">TCGA Data Portal</a></span></li>
 	<li class="c2 c3"><span class="c0"><a class="c8" href="https://www.google.com/url?q=https%3A%2F%2Ficgc.org%2F&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNF28_Pn6HTITPS7ViR2uO_PvqKgRQ">International Cancer Genome Consortium (ICGC)</a></span><span class="c6"> </span></li>
 	<li class="c2 c3"><span class="c0"><a class="c8" href="https://www.google.com/url?q=https%3A%2F%2Fdcc.icgc.org%2F&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNFhlRhkBzOhk-Xqk26bw_hAKCYixg">ICGC Data Portal</a></span></li>
</ul>

<hr />
<p class="c2"><strong>Lecture 6-10: R factors, data.frames.</strong><strong> Conditional execution.</strong><strong> Looping.</strong><strong> Functions.</strong><strong> In/out-put; packages; Bioconductor</strong></p>

<ul>
 	<li><span class="c0"><a class="c8" href="http://www.google.com/url?q=http%3A%2F%2Fwww.r-project.org%2F&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNHefmoEDqPf_CD5rru9DPdfUq5TGw">R data import/export</a></span><span class="c6"> (under ‘Manuals’)</span></li>
 	<li><a class="c8" href="http://www.google.com/url?q=http%3A%2F%2Fwww.bioconductor.org%2F&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNHZaH0740StDSrPZXoWdkE21drrnw">Bioconductor</a></li>
</ul>
<ul>
 	<li class="c2 c3"><span class="c0"><a class="c8" href="http://www.google.com/url?q=http%3A%2F%2Fwww.bioconductor.org%2Fpackages%2Frelease%2FBiocViews.html%23___Software&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNGtJYOi-02EJcnseZKNGIclvcSILw">A catalogue of BioC packages</a></span></li>
 	<li class="c2 c3"><span class="c0"><a class="c8" href="http://www.google.com/url?q=http%3A%2F%2Fwww.bioconductor.org%2Fhelp%2Fpackage-vignettes%2F&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNEhyUK_eOMBnnVj4BQ2HaC_UrWtJQ">Vignettes</a></span></li>
 	<li class="c2 c3"><span class="c0"><a class="c8" href="http://www.google.com/url?q=http%3A%2F%2Fwww.bioconductor.org%2Fhelp%2Fcourse-materials%2F2014%2FSeattleFeb2014%2F&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNFVNjyp9cdm3IGdrr-cy1Qmm3yNWw">Introduction to High Throughput Sequence Analysis in R/Bioconductor</a></span></li>
 	<li class="c2 c3"><span class="c0"><a class="c8" href="https://www.youtube.com/user/bioconductor">Bioconductor YouTube Channel</a></span></li>
 	<li class="c2 c3"><span class="c0"><a class="c8" href="https://www.youtube.com/user/RafalabChannel">Raphael Irizarry YouTube Channel</a></span></li>
 	<li class="c2 c3"><span class="c0"><a class="c8" href="http://www.google.com/url?q=http%3A%2F%2Fwww.bioconductor.org%2Fpackages%2Frelease%2Fbioc%2Fhtml%2FbiomaRt.html&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNG_aIhiJHjknREY8-wI2BmjN_sS4w">BioMart</a></span><span class="c6"> (R/BioC Package)</span></li>
</ul>

<hr />

<h4 class="c2"><span style="color: #0000ff;"><strong>Module 2 - Exploratory Data Science </strong></span></h4>

<hr />
<p class="c2"><strong>Lecture 11: Exploring gene expression in breast cancer</strong></p>
Goal: Develop skills from descriptive statistics to explore biological data.

Topics include: visualization, differential expression, clinical outcome, hypothesis testing (t-test, Wilcoxon, Kolmogorov-Smirnoff tests in R).
<ul>
 	<li class="c2 c3"><a class="c8" href="https://www.youtube.com/channel/UCiHi6xXLzi9FMr9B0zgoHqA">JBStatistics video series</a><span class="c6"> on YouTube</span></li>
 	<li class="c2 c3"><span class="c0"><a class="c8" href="https://www.youtube.com/user/marinstatlectures/videos">Learn Statistics</a></span><span class="c6"> video series from Mike Marin (R specific)</span></li>
</ul>
<ul>
 	<li class="c2 c3"><span class="c0"><a class="c8" href="https://www.youtube.com/watch?v=EhUvGRddC4M&amp;list=UUiHi6xXLzi9FMr9B0zgoHqA">Z scores</a></span><span class="c6"> (jbstatistics on YouTube)</span></li>
 	<li class="c2 c3"><span class="c0"><a class="c8" href="https://www.youtube.com/watch?v=T0xRanwAIiI&amp;list=UUiHi6xXLzi9FMr9B0zgoHqA">t-distribution</a></span><span class="c6"> (jbstatistics on YouTube)</span></li>
 	<li class="c2 c3"><span class="c0"><a class="c8" href="https://www.youtube.com/watch?v=ZnIFX4PTAOo&amp;list=UUiHi6xXLzi9FMr9B0zgoHqA">Using R with the t-distribution</a></span><span class="c6"> (jbstatistics on YouTube)</span></li>
 	<li class="c2 c3"><span class="c0"><a class="c8" href="https://www.youtube.com/watch?v=T9nI6vhTU1Y&amp;list=UUiHi6xXLzi9FMr9B0zgoHqA">One-mean t-test</a></span><span class="c6"> (jbstatistics on YouTube)</span></li>
</ul>

<hr />

<strong>Lectures 12, 13: Unsupervised analysis:  Discovery subtypes in breast cancer </strong>

Goal: Understand the concept of clustering and apply it to gene expression data.

Topics include: hierarchical clustering, k-means clustering, visualization through heatmaps.

<hr />

<strong>Lecture 14: Supervised Analysis: Naive Bayes' classifier</strong>

Topics include: clinical applications such as predicting patient prognosis or patient benefit from therapy.

<hr />

<h4><span style="color: #0000ff;">Module 3 - Computational Biology</span></h4>

<hr />

<strong>Lecture 15: Next generation sequencing analysis.</strong>

Goal: Understand (at a high level)  a statistical  linear model to detect differences in gene expression between two classes with single cell RNA-sequencing data (scRNA-seq).

Topics include: RNA-seq, CPM, RPKM, FPKM, TPM
<ul>
 	<li class="c2"><a title="Blue Sky" href="http://www.illumina.com/technology/next-generation-sequencing/solexa-technology.html" target="_blank">"What began as “blue-sky” research in the Chemistry Department of Cambridge University ..."</a></li>
 	<li class="c2"><a title="Illumina Sequencing Tutorial" href="http://www.illumina.com/content/dam/illumina-marketing/documents/products/illumina_sequencing_introduction.pdf" target="_blank">Illumina Sequencing in depth tutorial</a></li>
 	<li class="c2"><a title="SBS" href="http://www.illumina.com/technology/next-generation-sequencing/sequencing-technology.html" target="_blank">Sequencing by Synthesis</a> (movie top right)</li>
 	<li class="c2"><a title="Competition" href="http://www.google.com/url?q=http%3A%2F%2Fwww.synthesis.cc%2F2013%2F04%2Fhow-competition-improves-reading-dna.html&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNHlmWOlhKHTpWHaBpV87i0oAf24yg" target="_blank">How competition improves DNA sequencing</a></li>
</ul>
<p class="c2"><span class="c1">Links to bioinformatics tools:</span></p>

<ul class="c10 lst-kix_51cf328b7167-0 start">
 	<li class="c2 c3"><span class="c0"><a class="c8" href="https://www.google.com/url?q=https%3A%2F%2Fgenome.ucsc.edu%2F&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNEDxURidz-ruYRQtH8uUTb3zoF-ZQ">UCSC Genome Browser</a></span></li>
 	<li class="c2 c3"><span class="c0"><a class="c8" href="https://www.google.com/url?q=https%3A%2F%2Fgenome-cancer.ucsc.edu%2Fproj%2Fsite%2FhgHeatmap%2F&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNH5v5vavBDiuWRy586QdzGZ_u9x-w">UCSC Cancer Browser</a></span></li>
 	<li class="c2 c3"><a title="IGV" href="https://www.broadinstitute.org/igv/" target="_blank">Integrative Genomics Viewer (IGV)</a></li>
</ul>
<p class="c2"><span class="c6">Links to relevant genomics:</span></p>

<ul class="c10 lst-kix_fv2fm174nyb8-0 start">
 	<li class="c2 c3"><span class="c0"><a class="c8" href="http://www.google.com/url?q=http%3A%2F%2Fwww.ebi.ac.uk%2Ftraining%2Fonline%2Fcourse%2Febi-next-generation-sequencing-practical-course&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNH7NBezreawwDK90NZQiBo6nxoudQ">EBI course on Next Generation Sequencing</a></span></li>
 	<li class="c2 c3"><a class="c8" href="http://www.google.com/url?q=http%3A%2F%2Fwww.ebi.ac.uk%2Ftraining%2Fonline%2Fcourse%2Fembo-practical-course-analysis-high-throughput-seq&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNEbsgUKTpSs2BKjQ1NYwwYkM8LFDA">EMBO course on NGS Data Analysis</a></li>
 	<li class="c2 c3"><a class="c8" href="http://www.google.com/url?q=http%3A%2F%2Fbioinformatics.ca%2Fworkshops%2F2014%2Finformatics-high-throughput-sequencing-data-2014%23material&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNHehRGgI2JsrjkKSg_hJuPUoH4aNA">Canadian Bioinformatics Workshop of NGS Data Analysis</a></li>
</ul>

<hr />

<strong>Lecture 16: Gene prediction and genome annotation.</strong>

Goal: Understand computational biology approaches to predicting genes in a genome, and learn a commonly used tool.

Topics include: Machine learning through Hidden Markov Models, probabilistic model, likelihood, accuracy.
<ul>
 	<li><a href="http://www.cs.jhu.edu/~genomics/Glimmer/">GLIMMER</a></li>
 	<li><a href="http://www.nature.com/nbt/journal/v22/n10/full/nbt1004-1315.html">Hidden Markov Models</a> (concise Nature review article)</li>
 	<li><a href="https://www.youtube.com/watch?v=98TARXun1xA">HMMs the Movie</a></li>
 	<li><a href="https://cran.r-project.org/web/packages/HMM/HMM.pdf">HMMs in R</a></li>
</ul>

<hr />

<strong>Lecture 17: Sequence Alignment</strong>

Goal: Understand at a high level how pairs of sequences are alignment, and understand how to use common tools in the literature.

Topics include: scoring matrices, gaps, dynamic programming, BLAST, BLAST database search, DNA versus amino acid level alignments.
<ul>
 	<li><a href="https://en.wikipedia.org/wiki/BLAST">BLAST wiki.</a></li>
 	<li><a href="https://www.ncbi.nlm.nih.gov/books/NBK153387/">The BLAST Handbook.</a></li>
 	<li><a href="https://www.biostars.org/p/15541/">BioStars: BLAST.</a></li>
 	<li><a href="https://www.bioconductor.org/packages/release/bioc/html/annotate.html">BLAST using R (annotate package)</a></li>
 	<li><a href="http://www.ebi.ac.uk/Tools/msa/">Multiple Sequence Alignment Tools</a></li>
</ul>
<ul>
 	<li><a href="http://www.clustal.org/">CLUSTAL</a></li>
 	<li><a href="http://www.drive5.com/muscle/">MUSCLE</a></li>
</ul>

<hr />

<strong>Lecture 18: Phylogenetics</strong>

Goal: Understand the basics of how species phylogenies are inferred computationally, and learn to use a popular tool.

Topics include: trees, neighbour joining, outgroups.
<ul>
 	<li>MEGA</li>
 	<li><a href="http://tolweb.org/tree/">Tree of Life Project</a> (also <a href="https://tree.opentreeoflife.org/">here</a> and <a href="http://itol.embl.de/">here</a>)</li>
</ul>

<hr />

<strong>Lecture 19: Protein </strong><strong>Domain and Structure Prediction (DID NOT COVER in 2018)</strong>

Goal: Understand the basics of structural and evolutionary approaches to defining subregions of proteins.

Topics include: substrings, secondary structure, evolutionarily conserved folds, HMMs.

<hr />

<strong>Lecture 20: Pathway Analysis (DID NOT COVER in 2018)</strong>

Goal: Understand the basic approaches to investigating a list of genes for enrichment in biological processes and functions.

Topics include: enrichment, depletion, signatures, pathways, gene ontologies.
<ul>
 	<li><a title="Gene Ontology (GO)" href="http://geneontology.org" target="_blank">Gene Ontology</a> &amp; <a title="AmiGO" href="amigo.geneontology.org/amigo" target="_blank">AmiGO2</a></li>
 	<li><a title="GSEA" href="http://www.broadinstitute.org/gsea/index.jsp" target="_blank">GSEA &amp; MSigDB</a></li>
 	<li><a title="GSVA" href="http://www.bioconductor.org/packages/release/bioc/html/GSVA.html" target="_blank">GSVA</a></li>
 	<li><a title="Global Test" href="http://master.bioconductor.org/packages/release/bioc/html/globaltest.html" target="_blank">Global test</a></li>
</ul>
<ul>
 	<li>Hypergeometric test</li>
 	<li>Fisher's Exact Test</li>
 	<li>GSEA/MSigDB</li>
 	<li>Kolmogorov-Smirnoff Test</li>
</ul>
<ul>
 	<li><em>Gene Ontology (GO) with <a title="EBI Quick tour of GO" href="http://www.ebi.ac.uk/training/online/course/go-quick-tour" target="_blank">video from EBI</a></em></li>
 	<li><a title="Bionomial distribution on Wiki" href="http://en.wikipedia.org/wiki/Binomial_distribution" target="_blank">Bionomial Distribution</a> with a <a title="Bionomial Distribution video" href="https://www.youtube.com/watch?v=qIzC1-9PwQo&amp;list=UUiHi6xXLzi9FMr9B0zgoHqA" target="_blank">video</a> providing simple examples</li>
 	<li><em><a title="Wiki Hypergeometric Distribution" href="http://en.wikipedia.org/wiki/Hypergeometric_distribution" target="_blank">Hypergeometric Distribution</a> with a <a title="Hypergeometric Distribution video" href="https://www.youtube.com/watch?v=BCeFgnh6A1U" target="_blank">video</a> providing simple examples</em></li>
 	<li><a title="Chi-squared test from jbstatistics" href="http://en.wikipedia.org/wiki/Chi-squared_test" target="_blank">Chi-squared test</a> with a <a title="Chi-squared test video from jbstatistics" href="https://www.youtube.com/watch?v=L1QPBGoDmT0" target="_blank">video</a></li>
 	<li><em><a title="Fisher's Exact Test" href="http://en.wikipedia.org/wiki/Fisher's_exact_test" target="_blank">Fisher's Exact Test</a> with video</em></li>
</ul>

<hr />

<strong>Lecture 21: Deep learning</strong>

Goal: Discuss (at a high level) deep learning and how it is applied in the biological sciences.

Topics include: artificial intelligence, neural networks, deep neural networks, autoencoders.

<hr />

<h1 class="c2"></h1>